



:root {
    --bs-primary: #6B47F5; 
    --bs-primary-dark: #3F3A60; 
    // --bs-primary-dark2: #074D31; 
    --bs-primary-light:#BDACFF;
    --bs-primary-light2:#EDEAFC;
    --bs-primary-light3:#B2B4DF;
    --bs-primary-light4:#F9F9FF;
    // --bs-primary-light2:#A696E6;
    --bs-light-000: #ffffff; 
    --bs-light-050: #f0f0f0; 
    --bs-light-080: #CFCFCF; 
    --bs-light-100: #F9FAFB; 
    --bs-light-200: #FFFFFFCC; 
    --bs-light-300: #C2CFD6; 
    --bs-light-400: #6C737F; 
    --bs-light-500: #656565; 
    --bs-light-800: #1F2A37; 
    --bs-light-850:#2F3030;
    --bs-light-900: #181818; 
    
    
    --bs-light-border: #E5E7EB;  
    
    --nav-link-color:#161616;

    --bs-font-12:12px;
    --bs-font-14:14px;
   --bs-font-16:1rem;
   --bs-font-18:1.125rem;
   --bs-font-20:1.25rem;
   --bs-font-24:1.5rem;
   --bs-font-30:1.875rem;
   --bs-font-32:2rem;
   --bs-font-40:2.5rem;
   --bs-font-48:3rem;
   --bs-font-64:4rem;
   --bs-font-72:4.5rem;

   --br-stage-1:4px;
   --br-stage-2:8px;
   --br-stage-3:16px;
   --br-stage-4:24px;
   --br-stage-5:32px;


 --fw-100: 100;
 --fw-200: 200;
 --fw-300: 300;
 --fw-400: 400;
 --fw-500: 500;
 --fw-600: 600;
  

//    .stage-3 { border-radius: 25px; }
//    .stage-4 { border-radius: 50%; }
}

